{% extends "base.html" %}
{% block title %}Записи сообщества {% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1>Создание нового поста</h1>     
    <form method="post" action="{% url 'new_post' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group row"></div>
        
        <div class="col-md-6"></div>
        {{ form.as_p }}
        <input type="submit" value="Отправить">
        </div>
        
    </form> 
   

{% endblock %} 



